body{
    padding: 50px 100px;
    border: 1px solid red;
}
h1{
    text-align: center;
    background-color: #0067b0;
    color: whitesmoke;
    padding: 10px;
    margin: 0px;
}
textarea{
    width: 99.4%;
    border-color: #0067b0;
    font-size: 15px;
}
p{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    background-color: #0067b0;
    color: whitesmoke;
    padding: 10px;
    margin: 0px;

}